@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
}

:root {
  --purple: #755cde;
  --gold: #f6a560;
  --pink: #f39e9e;
  --salmon: #eb7565;
  --teal: #61c4b7;
  --maroon: #552049;
  --black: #030303;
  --grey: 7a746e;
  --cream: #fff7f0;
  --white: #ffffff;

  --headerlink-mobile-text-size: 1.5rem;

  --headerlink-mobile-line-height: 1.5rem;

  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  --jakarta: "Barlow Semi Condensed", sans-serif;
}

.header-link-text {
  font-size: var(--headerlink-mobile-text-size);
  text-align: left;
  vertical-align: top;
  color: var(--white);
  font-family: var(--jakarta);
  font-weight: var(--bold);
}

.background-purple {
  background-color: var(--purple);
}
.background-gold {
  background-color: var(--gold);
}
.background-pink {
  background-color: var(--pink);
}
.background-salmon {
  background-color: var(--salmon);
}
.background-teal {
  background-color: var(--teal);
}
.background-maroon {
  background-color: var(--maroon);
}
.background-black {
  background-color: var(--black);
}
.background-cream {
  background-color: var(--cream);
}
.text-white {
  color: var(--white);
}
.text-cream {
  color: var(--cream);
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) {
}
