@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
}

:root {
  --purple: #755cde;
  --gold: #f6a560;
  --pink: #f39e9e;
  --salmon: #eb7565;
  --teal: #61c4b7;
  --maroon: #552049;
  --black: #030303;
  --grey: #7a746e;
  --cream: #fff7f0;
  --white: #ffffff;

  --view: 2;
  --left: -32rem;
  --leftTablet: -62.8rem;
  --leftDesktop: -44.5rem;

  --view-array: "";

  --headerlink-mobile-text-size: 1.5rem;
  --header-text-size: 2.25rem;
  --header-paragraph-size: 1rem;
  --body-text-size: 1.625rem;
  --button-font-size: 0.875rem;

  --headerlink-mobile-line-height: 1.5rem;
  --header-paragraph-lineheight: 1.625rem;

  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bolder: 700;

  --jakarta: "Barlow Semi Condensed", sans-serif;
}

body {
  /* margin: 1rem; */
}

.margin-top {
  margin: 1rem 1rem 0 1rem;
}

.margin-bottom {
  margin: 5rem 1rem 1rem 1rem;
}

.header-link-text {
  font-size: var(--headerlink-mobile-text-size);
  text-align: left;
  vertical-align: top;
  color: var(--white);
  font-family: var(--jakarta);
  font-weight: var(--semi-bold);
}

.header-text {
  font-size: var(--header-text-size);
  font-family: var(--jakarta);
  font-weight: (--semi-bold);
  color: var(--black);
}

.header-paragraph {
  font-size: var(--header-paragraph-size);
  line-height: var(--header-paragraph-lineheight);
  font-family: var(--jakarta);
  font-weight: var(--medium);
}

.body-header-text {
  font-size: var(--body-text-size);
  font-family: var(--jakarta);
  font-weight: (--semi-bold);
}

.slides-header-text {
  font-size: var(--headerlink-mobile-text-size);
  font-family: var(--jakarta);
  font-weight: var(--semi-bold);
}

/* .body-paragraph-text {
  font-size: var(--body-text-size);
  font-family: var(--jakarta);
  font-weight: (--bold);
  color: var(--black);
} */

.cream-text {
  color: var(--cream);
}
.grey-text {
  color: var(--grey);
}
.black-text {
  color: var(--black);
}

.center-align {
  text-align: center;
  vertical-align: top;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1.2rem; /* Adjust the gap value as needed */
  margin-bottom: 5rem;
}

.svg-header-text {
  margin-top: auto;
}

.svg-header {
  margin-left: auto;
}

.background-purple {
  padding: 1.5rem;
  gap: 5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--purple);
  grid-column: span 2;
  grid-row: span 2;
}
.background-gold {
  padding: 1.5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--gold);
  grid-column: span 1;
  grid-row: span 1;
}
.background-pink {
  padding: 1.5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--pink);
  grid-column: span 1;
  grid-row: span 1;
}
.background-salmon {
  padding: 1.5rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--salmon);
  grid-column: span 2;
  grid-row: span 1;
}
.background-teal {
  padding: 1.5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--teal);
  grid-column: span 2;
  grid-row: span 1;
}
.background-maroon {
  padding: 1.5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: var(--maroon);
  grid-column: span 2;
  grid-row: span 1;
}
.background-black {
  border-radius: 0.5rem;
  background-color: var(--black);
}
.background-cream {
  /* max-width: 100%; */
  background-color: var(--cream);
}
.text-white {
  color: var(--white);
}
.text-cream {
  color: var(--cream);
}

.black-button {
  font-size: var(--button-font-size);
  font-family: var(--jakarta);
  font-weight: var(--medium);
  line-height: 1.75rem;
  background-color: var(--black);
  color: var(--cream);
  padding: 0.4rem 1.4rem 0.4rem 1.4rem;
  border-radius: 2rem;
}

.salmon-button {
  font-size: var(--button-font-size);
  font-family: var(--jakarta);
  font-weight: var(--medium);
  background-color: var(--salmon);
  color: var(--cream);
  padding: 0.8rem 1.4rem 0.8rem 1.4rem;
  border-radius: 2rem;
  /* align-self: center; */
}

.salmon-button:hover {
  background-color: var(--gold);
}

.black-button:hover {
  background-color: var(--purple);
}

.flex-img {
  display: flex;
  justify-content: center;
}

.img-caption-header {
  margin-bottom: 0;
}

.img-caption-paragraph {
  margin: 1.1rem 0.5rem 1.5rem 0.5rem;
}

.flex-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.img-amy {
  max-width: 90%;
}

.flex-bottom-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.8rem 2.5rem 1.8rem;
  margin: 0 0 2rem 0;
}

.bottom-paragraph {
  margin-top: 0;
}

.flex-consultation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-svg {
  width: 3rem;
  height: 3rem;
}

.logo-circle {
  cx: 1.5rem;
  cy: 1.5rem;
  stroke-width: 0.188rem;
  r: 12;
}

.img-slide {
  max-width: 70%;
  border-radius: 1rem;
}

.img-album {
  max-width: 100%;
  /* overflow: scroll; */
  display: flex;
  position: relative;
  left: var(--left);
  /* left: -14.2em; */
  /* left: -49.7rem; */
  /* left: -143%; */
  gap: 2rem;
}

.album-container {
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.header-largetext {
  /* max-width: 20rem; */
  margin-bottom: 0;
}

.header-subtext {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  /* max-width: 16rem; */
}

.arrow-button {
  background-color: var(--black);
  padding: 1.5rem;
  border-radius: 50%;
}

.arrow-button:hover {
  background-color: var(--purple);
}

.arrow-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .grid-box {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem; /* Adjust the gap value as needed */
  }

  .header-text {
    font-size: 2.75rem;
  }

  .logo-svg {
    width: 4rem;
    height: 4rem;
  }

  .logo-circle {
    cx: 2rem;
    cy: 2rem;
    stroke-width: 0.25rem;
    r: 16;
  }

  .black-button {
    font-size: 1rem;
    padding: 0.8rem 2rem 0.8rem 2rem;
  }

  .header-paragraph-orientation {
    font-size: 1.125rem;
    margin-left: 4.3rem;
    margin-right: 4.3rem;
    line-height: 1.75rem;
  }

  .img-caption-paragraph {
    margin-left: 0;
    text-align: left;
  }

  .img-caption-header {
    text-align: left;
  }

  .flex-bottom-box {
    margin: 3rem 1rem 4rem 1rem;
  }

  .flex-box {
    display: flex;
    width: 1;
    gap: 3rem;
    /* overflow: visible; */
  }

  .flex-caption {
    width: 110%;
    margin-left: 1rem;
  }

  .salmon-button {
    align-self: flex-start;
  }

  .flex-img {
    display: block;
    /* max-width: 100%; */
  }

  .img-album {
    left: var(--leftTablet);
  }

  .img-amy {
    max-width: 100%;
  }

  .middle-button {
    align-self: center;
  }

  .bottom-paragraph {
    max-width: 29rem;
  }
}

@media (min-width: 1440px) {
  .grid-box {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem; /* Adjust the gap value as needed */
    margin: 4rem 0 7rem 0;
  }

  .header-subtext {
    max-width: 34rem;
  }

  .header-largetext {
    font-size: 3.5rem;
  }

  .img-caption-header {
    font-size: 2.5rem;
    text-align: left;
  }

  .margin-top {
    margin: 2rem 10rem 0 10rem;
  }

  .margin-bottom {
    margin: 5rem 10rem 4rem 10rem;
  }

  .black-button {
    padding: 0.8rem 2.6rem 0.8rem 2.6rem;
  }

  .salmon-button {
    padding: 0.8rem 2.4rem 0.8rem 2.4rem;
  }

  .flex-bottom-box {
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem 0 4rem 0;
    padding: 1rem 1.8rem 2rem 1.8rem;
  }

  .img-album {
    left: var(--leftDesktop);
  }

  .bottom-header {
    text-align: left;
    font-size: 2.5rem;
  }

  .bottom-paragraph {
    text-align: left;
    font-size: 1.125rem;
  }

  /* .header {
    margin-bottom: 2rem;
  } */
}

/* FLEX CAPTION */
